@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%; /* Blanc */
    --foreground: 222.2 84% 4.9%; /* Noir/Gris */

    --primary: 40 48% 56%; /* #C5A059 - Or */
    --primary-foreground: 210 40% 98%;

    --secondary: 222.2 47.4% 11.2%; /* #1A1A1A */
    --secondary-foreground: 210 40% 98%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%; /* Fond sombre */
    --foreground: 210 40% 98%; /* Texte clair */

    --primary: 40 48% 56%; /* L'Or reste l'Or */
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
  }
}

@layer base {
  * {
    @apply border-gray-200 dark:border-gray-800;
  }
  body {
    @apply bg-background text-foreground;
  }
}
